html,
body {
  height: 100%;
  /* class for background */
  background: url(assets/landing/img/tulsa.jpeg);
  background-repeat: no-repeat;
  background-size: auto;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
